/* Navbar Container */
.navbar {
    height: 10vh;
    width: 97%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background: linear-gradient(145deg, rgb(205, 227, 249) 0%, rgb(232, 239, 243) 55%, rgb(213, 189, 222) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    box-shadow: rgba(64, 64, 80, 0.2) 0px 7px 29px 0px;
}

body {
    padding-top: 10vh; /* Pushes entire content down */
}
/* Navbar Logo */
.navbar h3 {
    color: #2404a2;
    white-space: nowrap;
    
}

/* Navbar Options */
.nav-options {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-right: 1rem;
}

/* Navbar Option Items */
.nav-options p {
    margin: 0;
    color: #055791;
    text-decoration: none;
    cursor: pointer;
    transition: transform 100ms ease;
    transform: scale(1);
    white-space: nowrap;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

/* Hover Effect */
.nav-options p:hover {
    text-decoration: underline;
    transform: scale(1.1);
    background-color: rgba(5, 87, 145, 0.1);
}

/* Scrollbar Customization */
.nav-options::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
}

.nav-options::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
}
