.navbar {
    height: 3.5rem;
    width: 100dvw;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #C9A227;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

body {
    padding-top: 0vh; /* Pushes entire content down */
}
/* Navbar Logo */
.logo-container a{
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
    
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    gap: 3px;
    font-weight: bold;
}

/* Navbar Options */
.nav-options {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 1rem;
}

/* Navbar Option Items */
.nav-options p {
    margin: 0;
    color: #333333;;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    transition: transform 100ms ease;
    transform: scale(1);
    white-space: nowrap;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

/* Hover Effect */
.nav-options p:hover {
    text-decoration: none;
    transform: scale(1.1);
}

/* Scrollbar Customization */
.nav-options::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
}

.nav-options::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 10px;
}
